.hbox {
    -fx-background-color: #2f4f4f;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.pane {
    -fx-background-color: #8fbc8f;
}

#hbox-custom {
    -fx-background-radius: 5.0;
    -fx-padding: 8;
}

.titled-pane {
    -fx-effect: dropshadow(three-pass-box, #9F9F9F, 15, 0, 0, 0);
    -fx-animated: true;
    -fx-text-fill: #505050;
}

.label {
    -fx-text-fill: #f00
}